[Desktop Entry]
Comment=Icons from Oxygen
Name=Kaero
X-KDE-PluginInfo-Author=Navi-Arh
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=-
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=kaero
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=-
X-KDE-ServiceTypes=Plasma/LookAndFeel
